body {
    padding: 0px;
    margin: 0px;
}
/**MENU */
.dropdown-menu1{
    margin-right:120px !important;
}
/*Input busqueda*/
/*Inicio Estilos de la Lista de contacto*/
.list-contact {
    height: 72vh;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #da6d28 #dfdfdf;
}

.list-contact::-webkit-scrollbar {
    width: 7px;
    
}

.etc-login-form {
    color: #919191;
    padding: 10px 20px;
}

.list-contact::-webkit-scrollbar-track {
    background:  #dfdfdf;
}

.list-contact::-webkit-scrollbar-thumb {
    background:#da6d28;
    border-radius: 10px;
}

/*Imagen de la lista de contacto*/
.img-user {
    width: 85px;
}
.img-user-list-contact {
    width: 55px;
}

.img-logo-principal {
    width: 205px;
}

.tarjeta-contacto {
    width: 400px;
    height: 220px;
    font-size: 12px;
}
.tarjeta-contacto h5{
    font-size:12px;
}

/***VITRINA*/
.img-user-list-contact-vitrina {
    width: 60px;
}

.tarjeta-contacto-vitrina{
    margin-left: 0px!important;
    margin-right: 60px!important;
}

/*Botones*/
.btn-agregar {
    background: #da6d28;
    color: white;
}

.btn-compartir {
    background: #0089ff;
    color: white;
}

/*Fin Estilos de la Lista de contacto*/


/*Detalle contacto*/
.detalle-contacto{
    height:72vh;
}
/* Estilos Tab Proyecto y Presupuesto*/
.list-tab {
    height: 40vh;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #da6d28 #dfdfdf;
}
.list-tab::-webkit-scrollbar {
    width: 7px;
 
}

    .list-tab::-webkit-scrollbar-track {
        background: #dfdfdf;
    }

    .list-tab::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #da6d28;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    }

   .estilo_tablas_titulos{
       font-family:'Comic Sans MS'
   }

/**Estilos Pagina error**/
#contenido-error {
    height: 420px;
}


.cont_principal {
    position: absolute;
    width: 99%;
    height: 100%;
    padding: 20px;
    background-color: #FDFDFD;
    overflow: hidden;
}

.cont_error {
    position: absolute;
    width: 100%;
    height: 300px;
    top: 50%;
    margin-top: -150px;
}

    .cont_error > h1 {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 150px;
        color: #da6d28;
        position: relative;
        left: -100%;
        transition: all 0.5s;
    }


    .cont_error > p {
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 24px;
        letter-spacing: 5px;
        color: rgba(218, 109, 40, 0.85);
        position: relative;
        left: 100%;
        transition: all 0.5s;
        transition-delay: 0.5s;
        -webkit-transition: all 0.5s;
        -webkit-transition-delay: 0.5s;
    }

.cont_aura_1 {
    position: absolute;
    width: 300px;
    height: 120%;
    top: 25px;
    right: -340px;
    background-color: #0089ff;
    box-shadow: 0px 0px 60px 20px rgba(28,144,243,0.5);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.cont_aura_2 {
    position: absolute;
    width: 100%;
    height: 300px;
    right: -10%;
    bottom: -301px;
    background-color: #0089ff;
    box-shadow: 0px 0px 60px 10px rgba(19, 131, 205, 0.5),0px 0px 20px 0px rgba(0,0,0,0.1);
    z-index: 5;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.cont_error_active > .cont_error > h1 {
    left: 0%;
}

.cont_error_active > .cont_error > p {
    left: 0%;
}

.cont_error_active > .cont_aura_2 {
    animation-name: animation_error_2;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transform: rotate(-20deg);
}

.cont_error_active > .cont_aura_1 {
    transform: rotate(20deg);
    right: -170px;
    animation-name: animation_error_1;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@-webkit-keyframes animation_error_1 {
    from {
        -webkit-transform: rotate(20deg);
        transform: rotate(20deg);
    }

    to {
        -webkit-transform: rotate(25deg);
        transform: rotate(25deg);
    }
}

@-o-keyframes animation_error_1 {
    from {
        -webkit-transform: rotate(20deg);
        transform: rotate(20deg);
    }

    to {
        -webkit-transform: rotate(25deg);
        transform: rotate(25deg);
    }
}

@-moz-keyframes animation_error_1 {
    from {
        -webkit-transform: rotate(20deg);
        transform: rotate(20deg);
    }

    to {
        -webkit-transform: rotate(25deg);
        transform: rotate(25deg);
    }
}

@keyframes animation_error_1 {
    from {
        -webkit-transform: rotate(20deg);
        transform: rotate(20deg);
    }

    to {
        -webkit-transform: rotate(25deg);
        transform: rotate(25deg);
    }
}




@-webkit-keyframes animation_error_2 {
    from {
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }

    to {
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }
}

@-o-keyframes animation_error_2 {
    from {
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }

    to {
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }
}

}

@-moz-keyframes animation_error_2 {
    from {
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }

    to {
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }
}

@keyframes animation_error_2 {
    from {
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }

    to {
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }
}
