
@{
    ViewBag.Title = "Index";
}

<div class="col-12 text-center">
    <h1 class="mb-3"> Historial </h1>

    <div class="col-12 mt-3 text-center">
        <div class="col-5 d-inline-block border-right detalle-contacto list-contact">
            <div>
                <h3>Ultimos proyecto publicados</h3>
            </div>
            
            <div>
                <div class="card m-2 p-1">
                    <div class="card-header">
                        <div class="card-title d-inline-block">
                            <h4>Instalación de piso flotante</h4>
                        </div>
                        <div class="d-inline-block float-right">
                            <i class="text-warning fa fa-star float-right"></i>
                            <i class="text-warning fa fa-star float-right"></i>
                            <i class="text-warning fa fa-star float-right"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            La instalación de piso flotante requiere del lugar de trabajo limpio y adecuado en espacio. El termino
                            del trabajo, requiere una cantidad de 10 horas de secado de los materiales.
                        </div>
                    </div>
                    <div class="card-footer col-12">
                        <div class="col-5 d-inline-block">
                            <p>Fecha: 10-02-2020</p>
                        </div>
                        <div class="col-5 d-inline-block float-right">
                            <a href="#" class="btn btn-sm btn-agregar float-right ml-1">Editar</a>
                            <a href="#" class="btn btn-sm btn-compartir float-right mr-1">Enviar</a>
                        </div>

                    </div>
                </div>

            </div>

        </div>
        <div class="col-5 d-inline-block border-left detalle-contacto list-contact ">
            <div>
                <h3>Ultimos presupuesto publicados</h3>
            </div>
            <div class="card m-2 p-1">
                <div class="card-header">
                    <div class="card-title d-inline-block">
                        <h4>Instalación de piso flotante</h4>
                    </div>
                    <div class="d-inline-block float-right">
                        <i class="text-warning fa fa-star float-right"></i>
                        <i class="text-warning fa fa-star float-right"></i>
                        <i class="text-warning fa fa-star float-right"></i>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        La instalación de piso flotante requiere del lugar de trabajo limpio y adecuado en espacio. El termino
                        del trabajo, requiere una cantidad de 10 horas de secado de los materiales.
                    </div>
                </div>
                <div class="card-footer col-12">
                    <div class="col-5 d-inline-block">
                        <p>Fecha: 10-02-2020</p>
                    </div>
                    <div class="col-5 d-inline-block float-right">
                        <a href="#" class="btn btn-sm btn-agregar float-right ml-1">Editar</a>
                        <a href="#" class="btn btn-sm btn-compartir float-right mr-1">Enviar</a>
                    </div>

                </div>
            </div>


        </div>
</div>

